.info {
    display: grid;
    flex-wrap: wrap;
    border: 1px solid #763C66;
    place-items: center;
}

.info img {
    max-width: 600px;
    max-height: 600px;
}

.stuff {
    margin-left: 1rem;
}

.update-form {
    color: blue;
    border: 3px solid;
    width: 50%;
    display: block;
}